# Source: https://stackoverflow.com/questions/5711120/gitignore-without-binary-files

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore makefile
!makefile

# Unignore all dirs
!*/

# Some test python scripts
*.py

# Some txt files
*.txt